/* COMMON */
* {
  font-family: "Sunflower", sans-serif;
}

/* BACKGROUND */
html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  padding-top: 0px;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("spring-background.webp");
  background-position: center;
  background-size: cover;
  position: relative;
}

/* BODY */
.no-touch {
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.5;
  position: relative;
}

.explain {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  font-size: 17px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

.run {
  font-size: 14px;
  color: wheat;
  text-align: center;
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.score {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  position: absolute;
  margin-top: 14px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  display: inline-block;
  margin-top: 20px;
}

.start_btn {
  width: 200px;
  height: 80px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}

.start_btn:hover {
  background-color: pink;
}

.mark {
  background: url("mark.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
.containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 450px;
  margin: auto auto;
}

.card {
  margin: auto;
  margin-top: 10px;
  width: 95px;
  height: 130px;
  perspective: 200px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front {
  background-color: pink;
  background-image: url(Run-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.hide {
  display: none;
}

.another-btn {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.retry-btn {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(237, 157, 157);
  border-radius: 10px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.retry-btn:hover {
  background-color: burlywood;
}

@media screen and (max-width: 768px) {
  .card {
    width: 80px;
    height: 90px;
    perspective: 150px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .containers {
    margin-top: 60px;
  }

  .explain {
    width: 98%;
    height: 290px;
    font-size: 16px;
  }

  .start_btn {
    width: 200px;
    height: 70px;
  }
}
